.column-table {
    z-index: 2;
}

.column-head-container {
    position: sticky;
    top: 0px;
    height: 40px;
    background-color: white;
}

.column-head {
    padding: 0;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}
