.column-container {
    z-index: 2;
    background-color: white;
}

.column-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    height: 40px;
    background-color: white;
}
