.table-container {
    display: flex;
    flex-direction: row;
    align-items: start;
}


.table-cell {
    border: 1px solid black;
    background-color: white;
}

.table-left-side-container {
    display: flex;
    flex-direction: column;
    height: 98vh;
    overflow: hidden;
}

.table-titles-container {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    min-height: 40px;
}

.table-left-side-content-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}

.table-week-day {
    writing-mode: vertical-rl; 
    transform: scale(-1, -1);
}

.table-time-slots-container {
    display: flex;
    flex-direction: column;
}

.table-time-slot-container {
    height: 90px;
}



.table-columns-container {
    height: 98vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    overflow: scroll;
    scrollbar-width: none;
}



.table-add-column-button {
    height: 40px;
    padding: 8px;
}
