.table-container {
    display: flex;
    flex-direction: row;
    align-items: start;
}


.table-cell {
    border: 1px solid black;
    background-color: white;
}

.table-left-side-container {
    display: flex;
    flex-direction: column;
    height: 98vh;
    overflow: hidden;
}

.table-titles-container {
    position: sticky;
    top: 0px;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 100px;
    min-height: 80px;
    max-height: 80px;
}

.table-calendar-title-container {
    display: flex;
    flex-direction: row;
}

.table-calendar-month-name {
    width: 20px;
    writing-mode: vertical-rl; 
    transform: scale(-1, -1);
}

.table-left-side-content-container {
    display: flex;
    flex-direction: column;
}

.table-week-day-container {
    display: flex;
    position: sticky;
    top: 80px;
    z-index: 1;
    background-color: white;
    align-items: center;
    font-size: 20px;
    min-height: 30px;
    max-height: 30px;
}

.table-calendar-time-slots-container {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.table-calendar-container {
    display: flex;
    min-height: 92px;
    max-height: 0px;
    /*max-height: fit-content;*/
}

.table-calendar {
    border-collapse: collapse;
    flex: 1;
}

.table-calendar td {
    border: 1px solid black;
    max-width: 0px;
}

.table-time-slots-container {
    display: flex;
    flex-direction: column;
}

.table-time-slot-container {
    height: 90px;
}



.table-columns-container {
    height: 98vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    overflow: scroll;
    scrollbar-width: none;
}



.table-add-column-button {
    height: 40px;
    padding: 8px;
}
