.filter-container {
    transform: translate(-50%, 0);
    position: absolute;
    background-color: gray;
}

.elements-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}